/target/*
/.idea/
/.settings/
/dependencies/
/.aws-sam/
/cobis-channels-commons-online/.settings/
/cobis-channels-commons-online/target/*
out.yaml
cobis-channels-commons-serverless-service.iml
*.iml
/cobis-channels-commons-online/dependencies/
/cobis-channels-commons-online/.aws-sam/
.vscode
.idea/
.git-askpass

src/.aws-sam/

*.log
/.project
/.classpath
/cobis-channels-commons-online/target
/cobis-channels-commons-serverless-service.iml
/.git-askpass
/.idea
/cobis-channels-commons-online/cobis-channels-commons-serverless-service-online.iml
*.project
*.classpath