<?xml version="1.0" encoding="UTF-8" ?>

<settings>

  <servers>
    <server>
      <id>clouddev</id>
      <username>cobis_developer_user</username>
      <password>{d+/5iEH3+/AHXsUNv2DzeNkhThVYHT9ItbaEFQhDeuwQWGpGD/d2cn1jCU1C5VlN}</password>
    </server>
    <server>
      <id>clouddev-snapshots</id>
      <username>cobis_developer_user</username>
      <password>{d+/5iEH3+/AHXsUNv2DzeNkhThVYHT9ItbaEFQhDeuwQWGpGD/d2cn1jCU1C5VlN}</password>
    </server>
    <server>
      <id>cobiscloud</id>
      <username>cobis_developer_user</username>
      <password>{d+/5iEH3+/AHXsUNv2DzeNkhThVYHT9ItbaEFQhDeuwQWGpGD/d2cn1jCU1C5VlN}</password>
    </server>
  </servers>


  <mirrors>
    <!--mirror>
    <id>internal</id>
    <name>Cobis Central</name>
    <url>http://192.168.66.130:8080/archiva/repository/internal/</url>
    <mirrorOf>maven3</mirrorOf>
  </mirror-->
    <mirror>
      <id>clouddev</id>
      <name>Cobis Cloud Development</name>
      <url>https://nexus.devops.core.cloud-cobiscorp.com:8000/repository/core-cloud/</url>

      <mirrorOf>*</mirrorOf>
    </mirror>


  </mirrors>


  <profiles>
    <profile>
      <id>test</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>clouddev</id>
          <name>Cobis Cloud Development</name>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>https://nexus.devops.core.cloud-cobiscorp.com:8000/repository/core-cloud/</url>
          <layout>default</layout>
        </repository>
      </repositories>
      <profile>
        <id>allow-snapshots</id>
        <activation>
          <activeByDefault>true</activeByDefault>
        </activation>
        <repositories>
          <repository>
            <id>clouddev</id>
            <url>https://nexus.devops.core.cloud-cobiscorp.com:8000/repository/core-cloud/</url>
            <releases>
              <enabled>false</enabled>
            </releases>
            <snapshots>
              <enabled>true</enabled>
            </snapshots>
          </repository>
        </repositories>
      </profile>
    </profile>
    <profile>
      <id>sonar</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <sonar.host.url>https://www.sonar.devops.core.cloud-cobiscorp.com:9000/</sonar.host.url>
        <sonar.login>1dbc5036ab95f795768496987901751628560a2a</sonar.login>
      </properties>
    </profile>
  </profiles>
</settings>