<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="TRACE" verbose="true"> 
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout> 
        <Pattern>%d{MMdd HHmmss,SSS} %-5.5p[%-.6t][%c{1}][%M]%m%n%throwable{full}</Pattern> 
      </PatternLayout>  
    </Console>
  </Appenders>
  <Loggers> 
    <Root level="INFO" includeLocation="false">
      <AppenderRef ref="STDOUT"/>
    </Root>  
    <Logger name="org.springframework" level="INFO" additivity="true"/>
  </Loggers>
</Configuration>
